* {
  font-family: Helvetica;
  box-sizing: border-box;
}
#top {
  display: flex;
  flex-direction: reverse;
}
#top_left,
#top_right {
  background-color: rgb(146, 184, 112);
  text-align: center;
  width: 50%;
  height: 170px;
}
#banner,
#footer {
  background-color: rgb(100, 61, 49);
  color: white;
  text-align: center;
  height: 80px;
  width: 100%;
  padding: 5px;
  clear: both;
}
#main {
  display: flex;
  flex-direction: reverse;
}
#main_left,
#main_right {
  background-color: rgb(146, 184, 112);
  width: 50%;
  height: 450px;
}
#top_left a {
  background: url("cukierki1.jpg");
  padding-right: 30px;
  padding-bottom: 120px;
  font-size: 150%;
  text-decoration: none;
}
table,
td {
  border: 2px green dotted;
  padding: 20px;
  margin: 30px;
}
h1 {
  letter-spacing: 20px;
  font-size: 250%;
}
#kolor {
  color: black;
}
